<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}" type="text/css" media="all" />
    <title>Quiz</title>
  </head>
  <body>
    <div class="container" id="info-container">
      <div><h1>Register</h1></div>
      <input type="text" id="username" class="cred-input" placeholder="Username" />
      <input type="email" name="email" id="email" placeholder="Enter email" class="cred-input" />
      <button id="next-btn" type="button" disabled>Next</button>
      <a href="/login">←Back To Login</a>
    </div>
    
    <div class="container" id="pwd-container">
      <div><h1>Register</h1></div>
      <div class="pwd-group">
        <input type="password" id="password" placeholder="Enter password" />
        <button class="show-pwd-btn" id="show-pwd">Show</button>
      </div>
      <div class="pwd-group">
        <input type="password" id="confirm-password" placeholder="Confirm password" />
        <button class="show-pwd-btn" id="show-con">Show</button>
      </div>
      <button id="register-btn" disabled>Register</button>
      <a href="../login">←Back To Login</a>
    </div>
  </body>
  <script src="{{ url_for('static', filename='js/signup.js') }}"></script>
</html>