<<<<<<< HEAD
#balance-cntnr h2 {
  font-size: 35px;
  margin: 0.5rem;
}
#balance-cntnr p {
  margin: 0;
  margin-left: 0.5rem;
<<<<<<< HEAD
=======
=======
#balance-cntnr h2, #points-cntnr h2, #rank-cntnr h2, #earnings-cntnr h2 {
  font-size: 35px;
  margin: 0.5rem;
}
#balance-cntnr p, #points-cntnr p, #rank-cntnr p, #earnings-cntnr p, #history-cntnr p {
  margin: 0;
  margin-left: 0.5rem;
<<<<<<< HEAD
>>>>>>> parent of 9fc3e83 (reset)
}
#withdraw-cntnr {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#withdraw-cntnr p {
  margin: 0 auto;
}
#withdraw-cntnr input {
  background: #ffffff;
  border: 1px solid #d1d5db;
  padding: 0.8rem;
  border-radius: 1rem;
  margin: 0.5rem auto;
  width: 90%;
  transition: 0.3s;
}
#withdraw-btn {
  width: 100%;
  font-weight: 500;
  font-size: 15px;
  color: green;
  padding: 1rem;
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
  transition: 0.3s;
}
#withdraw-btn:hover {
  background-color: #f3f4f6;
}
#withdraw-amount:focus {
  scale: 1.01;
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> parent of 755bd33 (add req text)
}
=======
=======
>>>>>>> parent of 9fc3e83 (reset)
}
.cards-cntnr {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.5rem 1.5rem;
}
#points-cntnr, #rank-cntnr, #earnings-cntnr {
  width: 150px;
  flex-grow: 1;
}

#withdraw-wrapper {
  width: 300px;
  flex-grow: 1;
}

#history-cntnr {
  overflow-x:auto;
  margin-top: 0.5rem;
}

table {
  width:100%;
  border-collapse:collapse;
  margin-top:20px;
}

th {
  color: var(--secondary-text-clr);
  font-weight:600;
}

th, td {
  text-align:left;
  padding:15px;
  border-bottom:1px solid var(--line-clr);
}

.status {
  padding:6px 14px;
  border-radius:30px;
  font-size:13px;
  font-weight:600;
}

.success {
  color:#166534;
}

.pending {
  color:#854d0e;
}

.failed {
  color:#991b1b;
}

@media(max-width: 800px) {
  #points-cntnr, #rank-cntnr, #earnings-cntnr, #history-cntnr {
    width: 77vw;
    flex-grow: 1;
  }
  
  #withdraw-wrapper {
    width: 92vw;
    flex-grow: 1;
  }
  
  #history-cntnr {
    margin: 0.5rem auto;
    margin-bottom: 2rem;
  }
  
  .cards-cntnr {
    gap: 0;
  }
}
<<<<<<< HEAD
>>>>>>> parent of 330ed95 (add withdraw function)
=======
=======
}
>>>>>>> parent of df36a7b (add user route)
>>>>>>> parent of 9fc3e83 (reset)
